<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome to A&A 3D!</title>
    <style type="text/css">
      #logo {
        width: 6rem;
        margin-bottom: 1.2rem;
      }
      body {

        font-family: "Roboto", sans-serif;
        color: #000;
      }
      .container {
        padding: 4rem 3rem 20px 3.5rem;
        background-color: #fff;
        /* width: 40rem; */
        /* height: 20rem; */
        border-radius: 1px;
        position: absolute;
      }

      .content {
        width: 40rem;
      }
      h2 {
        margin-bottom: 1.5rem;
      }

      .inline-link {
        color: #000;
        text-decoration-color: #000;
      }

      .email-footer {
        margin-top: 2rem;
        font-size: 0.8rem;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://res.cloudinary.com/ana3d/image/upload/v1672397487/Web_j2dy1g.png"
        alt="AnA 3D Logo"
        id="logo"
      />

      <h2>Account Successfully Created!</h2>
      <p>Hello <%=name%>!</p>
      <div class="content">
      <p>Congratulations on your Account Creation on A&A 3D.</p>
      <p>You can log in to your account by going to <a class="inline-link" href="https://www.ana3d.in/sign-in">https://www.ana3d.in/sign-in</a>. Your username is <strong><%=email%></strong> and your pass code is <strong><%=password%></strong>.
      </p>
    </div>
      <p>Thank You,</p>
      <p>- A&A 3D</p>
      <hr>
      <div class="email-footer">
        
          <p>
            Having trouble? Contact us and we'll be there in a jiffy!
          </p>
      
          <p>
            <strong>Email Us: </strong> <a href="mailto:anaprints2202@gmail.com" class="inline-link">
              anaprints2202@gmail.com
            </a>
          </p>
      
          <p>
            <strong>Phone: </strong> <a href="tel:+918452959394" class="inline-link">
              +91 8452959394
            </a>, <a href="tel:+919076076126" class="inline-link">
              +91 9076076126
            </a>
          </p>

          <p>
            <strong>Instagram: </strong> <a href="https://www.instagram.com/the.ana.3d/" class="inline-link">
              @the.ana.3d
          </p>
          

         
    </div>
  </body>
</html>
