@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #F5F6F8 !important;
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}

.MuiAccordion-root.deposit{
    background-color: #FFC48B4c !important;
    border-radius: 5px !important;
    border-left: 4px solid #FFC48B !important;
}

.MuiAccordion-root.withdraw{
    background-color: #FFB3C04c !important;
    border-radius: 5px !important;
    border-left: 4px solid #FFB3C0 !important;
}

.MuiCardContent-root{ 
    padding-bottom: 4% !important 
}